@font-face{font-family:'BOG';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Light.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Light.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Light.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Light.ttf') format('truetype');
    font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Regular.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Regular.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Regular.ttf') format('truetype');
    font-weight: 400;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Medium.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Medium.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Medium.ttf') format('truetype');
    font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.ttf') format('truetype');
    font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Bold.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Bold.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Bold.ttf') format('truetype');
    font-weight: 700;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Black.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Black.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Black.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Black.ttf') format('truetype');
    font-weight:900;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.ttf') format('truetype');
    font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.ttf') format('truetype');
    font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.ttf') format('truetype');
    font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.ttf') format('truetype');
    font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.ttf') format('truetype');
    font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.ttf') format('truetype');
    font-weight:800;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.ttf') format('truetype');
    font-weight:900;font-style:normal;font-display:swap;}
:root {
    --background: #F9F9F9;
    --footer: #EDF1F3;
    --purple: #650AED;
    --purple-lighter: #6D0BFF;
    --font: #333333;
    --white: #FFF;
    --black: #000;
    --icon: #E4E6EB;
    --button-hover: #F2F2F2;
    --icon-hover: #D8DADF;
    --board: #B6D99F;
    --background-dark: #181818;
    --dark: #202020;
    --dark-lighter: #383838;
    --font-dark:  #ECF0F1;
    --icon-dark: #333336;
    --icon-hover-dark: #4C4C4C;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100%;
    color: var(--font);
    font-weight: 600;
    background: var(--background);
    font-family: BOG, sans-serif;
}
header{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    background: var(--purple);
}
.header-section{
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Logo clickable */
.logo-index{
    margin-left: 2.5%;
}
/*Logo image*/
.logo{
    display: flex;
    align-items: center;
    width: 65px;
}
/*Profile dropdown */
.profile-top{
    margin-right: 2.5%;
    display: flex;
    justify-content: flex-end;
}
.header-nav{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-right: 2.5%;
    height: 60px;
    cursor: pointer;
}
.header-nav:hover{
    background: var(--purple-lighter);
}
.top-profile-name{
    margin: 0 7.5px 0 10px;
    font-size: 12.5px;
    color: var(--white);
}
.profile-image{
    width: 32.5px;
    background:var(--background);
    border-radius: 5px;
    margin-right: 7.5px;
}
.dropdown-icon{
    margin-right: 10px;
}
/*Dropdown menu*/
#options{
    visibility: hidden;
    display: block;
    opacity: 0;
    position: absolute;
    width: 250px;
    height: auto;
    background: var(--background);
    border-radius: 5px;
    top: 80px;
    font-size: 17.5px;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2),0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
/*Dropdown menu for javascript code*/
#options.active{
    visibility: visible;
    top: 65px; 
    opacity: 1;
}
/*Dropdown menu for javascript code*/
.profile-parameters{
    font-family: BOG Headline;
}
.setting-buttons{
    display: flex;
    align-items: center;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    text-decoration: none;
}
.setting-buttons:hover{
    background: var(--button-hover);
}
.setting-icons{
    width: 21px;
    margin-right: 7.5px;
    background: var(--icon);
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
}
.setting-buttons:hover .setting-icons{
    background: var(--icon-hover);
}
.profile-parameters{
    color: var(--font);
}
/*Main*/
main{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    min-height: 700px;
    height: calc(100vh - 200px);
}
/*Main section*/
.main-section{
    margin-left:2.5%;
    margin-right: 2.5%;
    max-width: 1200px;
    width: 100%;
    font-family: BOG;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    height: 375px;
}
/*container of an action redirecting buttons*/
.action-container{
    text-decoration: none;
    cursor: default;
    height: 270px;
}
.img-action{
    border-radius: 10px;
    background: var(--board);
    cursor: pointer;
    width: 480px;
}
.action-button{
    font-size: 30px;
    margin-top: 5px;
    color: var(--font);
    cursor: pointer;
}
/*Footer*/
footer{
    position: absolute;
    left: 0;
    width: 100%;
}
.footer-section{
    position: absolute;
    left: 0;
    width: 100%;
    background: var(--footer);
    height: 100px;
}
/* DARK MODE*/
/*Body*/
body.dark-mode{
    background: var(--background-dark);
    color: var(--font-dark)
}
/*Header and footer*/
body.dark-mode 
header, 
body.dark-mode 
.footer-section{
    background: var(--dark)
}
/*Header navigation container on hover*/
body.dark-mode .header-nav:hover{
    background: var(--dark-lighter);
}
/*Dropdown*/
body.dark-mode 
#options{
    box-shadow: 0 4px 9.5px 0 rgba(0, 0, 0, 0.2),0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background: var(--background-dark);
    color: var(--font-dark);
}
body.dark-mode 
.setting-buttons:hover,
body.dark-mode 
.setting-icons{
    background: var(--icon-dark);
}
body.dark-mode 
.setting-buttons:hover 
.setting-icons{
    background: var(--icon-hover-dark);
}
body.dark-mode .profile-parameters, 
body.dark-mode .action-button{
    color: var(--font-dark);
}
@media(max-width: 1100px){
    .img-action{
        width: 43vw;
    }
}
@media(max-width: 640px){
    .img-action{
        width: 72.5vw;
    }
    .main-section{
        flex-direction: column;
        align-items: center;
        margin-top: 25vw;
    }
    .build-space{
        margin-bottom: 10vw;
    }
    .action-button{
        font-size: 5vw;
    }
}
@media(max-width: 400px){
    .main-section{
        margin-top: 20%; 
    }   
}
@media(max-width: 350px){
    .logo{
        min-width: 45px;
        width: 19vw;
    }
}