@font-face{font-family:'BOG';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Light.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Light.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Light.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Light.ttf') format('truetype');
    font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Regular.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Regular.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Regular.ttf') format('truetype');
    font-weight: 400;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Medium.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Medium.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Medium.ttf') format('truetype');
    font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.ttf') format('truetype');
    font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Bold.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Bold.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Bold.ttf') format('truetype');
    font-weight: 700;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Black.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Black.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Black.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Black.ttf') format('truetype');
    font-weight:900;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.ttf') format('truetype');
    font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.ttf') format('truetype');
    font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.ttf') format('truetype');
    font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.ttf') format('truetype');
    font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.ttf') format('truetype');
    font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.ttf') format('truetype');
    font-weight:800;font-style:normal;font-display:swap;}
@font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.eot');
    src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.ttf') format('truetype');
    font-weight:900;font-style:normal;font-display:swap;}
:root {
    --background: #F9F9F9;
    --footer: #EDF1F3;
    --purple: #650AED;
    --purple-lighter: #6D0BFF;
    --font: #333333;
    --white: #FFF;
    --black: #000;
    --icon: #E4E6EB;
    --button-hover: #F2F2F2;
    --icon-hover: #D8DADF;
    --board: #B6D99F;
    --background-dark: #181818;
    --dark: #202020;
    --dark-lighter: #383838;
    --font-dark:  #ECF0F1;
    --icon-dark: #333336;
    --icon-hover-dark: #4C4C4C;
    --blue: #007bff;
    --indigo: #6610f2;
    --purplee: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --darker: #343a40;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100%;
    color: var(--font);
    font-weight: 700;
    background: #F9F9F9;
    font-family: BOG, sans-serif;
    transition: ease-out 250ms;
}
header{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    background: var(--purple);
}
.headerSection{
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoIndex{
    margin-left: 2.5%;
}
.logo{
    display: flex;
    align-items: center;
    width: 65px;
}
.arrow{
    position: relative;
    width: 20px;
    top: 4.5px;
}
.links{
    display: flex;
}
.entrance{
    margin-right: 5%;
    font-size: 15px;
    width: 135px;
    line-height: 35px;
    background: var(--white);
    text-align: center;
    border-radius: 7.5px;
    text-decoration: none;
    color: var(--font);
}
main{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    min-height: 300px;
    height: calc(100vh - 200px);
}
.mainSection{
    margin-left:2.5%;
    margin-right: 2.5%;
    max-width: 1400px;
    font-family: BOG;
    font-weight: 500;
}
.mainSection p{
    max-width: 50%;
}
form{
    width: 325px;
    height: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10vw;
}
input{
    margin-top: 5px;
    width: 320px;
    height: 28.5px;
    background: var(--white);
    text-align: start;
    padding-left: 5px;
    border-radius: 5px;
    border: 2.5px solid var(--font);
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.25);
    text-decoration: none;
    color: var(--font);
}
.submitDiv{
    display: flex;
    justify-content: center;
    width: 325px;
}
.submit{
    text-align: center;
    height: 50px;
    border-radius: 10px;
    width: 150px;
    font-family: BOG;
    background: var(--purple);
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
    margin-top: 15px;
}
footer{
    position: absolute;
    left: 0;
    width: 100%;
}
.footer-section{
    position: absolute;
    left: 0;
    width: 100%;
    background: var(--footer);
    height: 100px;
}
@media(max-width: 350px){
    form{
        width: 93vw;
    }
    input{
        width: 90vw;
    }
    .logo{
        min-width: 45px;
        width: 19vw;
    }
    .entrance{
        font-size: 4vw;
        width: 34vw;
    }
}