@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,700&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
@font-face{font-family:'MarkGEO';src:url('https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Regular/MarkGEO-Regular.eot');src:url('https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Regular/MarkGEO-Regular.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Regular/MarkGEO-Regular.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Regular/MarkGEO-Regular.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Regular/MarkGEO-Regular.svg#MarkGEO-Regular') format('svg'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Regular/MarkGEO-Regular.eot?#iefix') format('embedded-opentype');font-weight:normal;font-style:normal;font-display:swap;}
    @font-face{font-family:'MarkGEO';src:url('https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Light/MarkGEO-Light.eot');src:url('https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Light/MarkGEO-Light.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Light/MarkGEO-Light.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Light/MarkGEO-Light.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Light/MarkGEO-Light.svg#MarkGEO-Light') format('svg'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Light/MarkGEO-Light.eot?#iefix') format('embedded-opentype');font-weight:300;font-style:normal;font-display:swap;}
    @font-face{font-family:'MarkGEO';src:url('https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Medium/MarkGEO-Medium.eot');src:url('https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Medium/MarkGEO-Medium.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Medium/MarkGEO-Medium.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Medium/MarkGEO-Medium.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Medium/MarkGEO-Medium.svg#MarkGEO-Medium') format('svg'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEO-Medium/MarkGEO-Medium.eot?#iefix') format('embedded-opentype');font-weight:500;font-style:normal;font-display:swap;}
    @font-face{font-family:'MarkGEOCAPS';src:url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Light/MarkGEOCAPS-Light.eot');src:url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Light/MarkGEOCAPS-Light.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Light/MarkGEOCAPS-Light.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Light/MarkGEOCAPS-Light.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Light/MarkGEOCAPS-Light.svg#MarkGEOCAPS-Light') format('svg'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Light/MarkGEOCAPS-Light.eot?#iefix') format('embedded-opentype');font-weight:300;font-style:normal;font-display:swap;}
    @font-face{font-family:'MarkGEOCAPS';src:url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Regular/MarkGEOCAPS-Regular.eot');src:url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Regular/MarkGEOCAPS-Regular.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Regular/MarkGEOCAPS-Regular.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Regular/MarkGEOCAPS-Regular.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Regular/MarkGEOCAPS-Regular.svg#MarkGEOCAPS-Regular') format('svg'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Regular/MarkGEOCAPS-Regular.eot?#iefix') format('embedded-opentype');font-weight:normal;font-style:normal;font-display:swap;}
    @font-face{font-family:'MarkGEOCAPS';src:url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Medium/MarkGEOCAPS-Medium.eot');src:url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Medium/MarkGEOCAPS-Medium.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Medium/MarkGEOCAPS-Medium.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Medium/MarkGEOCAPS-Medium.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Medium/MarkGEOCAPS-Medium.svg#MarkGEOCAPS-Medium') format('svg'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Medium/MarkGEOCAPS-Medium.eot?#iefix') format('embedded-opentype');font-weight:500;font-style:normal;font-display:swap;}
    @font-face{font-family:'MarkGEOCAPS';src:url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-SemiBold/MarkGEOCAPS-SemiBold.eot');src:url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-SemiBold/MarkGEOCAPS-SemiBold.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-SemiBold/MarkGEOCAPS-SemiBold.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-SemiBold/MarkGEOCAPS-SemiBold.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-SemiBold/MarkGEOCAPS-SemiBold.svg#MarkGEOCAPS-SemiBold') format('svg'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-SemiBold/MarkGEOCAPS-SemiBold.eot?#iefix') format('embedded-opentype');font-weight:600;font-style:normal;font-display:swap;}
    @font-face{font-family:'MarkGEOCAPS';src:url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Bold/MarkGEOCAPS-Bold.eot');src:url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Bold/MarkGEOCAPS-Bold.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Bold/MarkGEOCAPS-Bold.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Bold/MarkGEOCAPS-Bold.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Bold/MarkGEOCAPS-Bold.svg#MarkGEOCAPS-Bold') format('svg'),
    url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Bold/MarkGEOCAPS-Bold.eot?#iefix') format('embedded-opentype');font-weight:bold;font-style:normal;font-display:swap;}
    @font-face{font-family:'BOG';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Black.eot');src:
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Black.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Black.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Black.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Black.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Black.svg#BOG-Black') format('svg');font-weight:900;font-style:normal;font-display:swap;}
    @font-face{font-family:'BOG';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Bold.eot');src:
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Bold.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Bold.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Bold.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Bold.svg#BOG-Bold') format('svg');font-weight:bold;font-style:normal;font-display:swap;}
    @font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.eot');src:
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Medium.svg#BOG-Headline-Medium') format('svg');font-weight:500;font-style:normal;font-display:swap;}
    @font-face{font-family:'BOG';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Regular.eot');src:
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Regular.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Regular.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Regular.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Regular.svg#BOG-Regular') format('svg');font-weight:normal;font-style:normal;font-display:swap;}
    @font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.eot');src:
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Black.svg#BOG-Headline-Black') format('svg');font-weight:900;font-style:normal;font-display:swap;}
    @font-face{font-family:'BOG';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Medium.eot');src:
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Medium.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Medium.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Medium.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Medium.svg#BOG-Medium') format('svg');font-weight:500;font-style:normal;font-display:swap;}
    @font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.eot');src:
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Regular.svg#BOG-Headline-Regular') format('svg');font-weight:normal;font-style:normal;font-display:swap;}
    @font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.eot');src:
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Light.svg#BOG-Headline-Light') format('svg');font-weight:300;font-style:normal;font-display:swap;}
    @font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.eot');src:
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-UltraBold.svg#BOG-Headline-UltraBold') format('svg');font-weight:800;font-style:normal;font-display:swap;}
    @font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.eot');src:
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-SemiBold.svg#BOG-Headline-SemiBold') format('svg');font-weight:600;font-style:normal;font-display:swap;}
    @font-face{font-family:'BOG Headline';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.eot');src:
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Headline-Bold.svg#BOG-Headline-Bold') format('svg');font-weight:bold;font-style:normal;font-display:swap;}
    @font-face{font-family:'BOG';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.eot');src:
    url('https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-SemiBold.svg#BOG-SemiBold') format('svg');font-weight:600;font-style:normal;font-display:swap;}
    @font-face{font-family:'BOG';src:url('https://webstatic.bog.ge/fonts/BOG/BOG-Light.eot');src:
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Light.eot?#iefix') format('embedded-opentype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Light.woff2') format('woff2'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Light.woff') format('woff'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Light.ttf') format('truetype'),
    url('https://webstatic.bog.ge/fonts/BOG/BOG-Light.svg#BOG-Light') format('svg');font-weight:300;font-style:normal;font-display:swap;}
:root {
    --main-bg-color: #F9F9F9;
    --main-footer-color: #EDF1F3;
    --main-color: #650AED;
    --main-color-light: #6D0BFF;
    --main-font-color: #333333;
    --white: #FFFFFF;
    --black: #000000;
    --button-icon: #E4E6EB;
    --button-hover: #F2F2F2;
    --button-icon-hover: #D8DADF;
    --main-board-bg: #B6D99F;
    --main-blue-color: #2D88FF;
    --main-dark-bg-color: #181818;
    --main-dark-color: #202020;
    --main-dark-color-light: #383838;
    --main-dark-font-color:  #ECF0F1;
    --dark-button-icon: #333336;
    --dark-button-icon-hover: #4C4C4C;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100%;
    color: var(--main-font-color);
    font-weight: 600;
    background: var(--main-bg-color);
    font-family: BOG, sans-serif;
}
header{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    background: var(--main-color);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),0 2px 4px 0 rgba(0, 0, 0, 0.1)
}
.header-section{
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-index{
    margin-left: 2.5%;
}
.logo{
    display: flex;
    align-items: center;
    width: 65px;
}
.profile-top{
    margin-right: 2.5%;
    display: flex;
    justify-content: flex-end;
}
.header-nav{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-right: 2.5%;
    height: 60px;
    cursor: pointer;
}
.header-nav:hover{
    background: var(--main-color-light);
}
.top-profile-name{
    margin: 0 7.5px 0 10px;
    font-size: 12.5px;
    color: var(--white);
}
.profile-image{
    width: 32.5px;
    background:var(--main-bg-color);
    border-radius: 5px;
    margin-right: 7.5px;
}
.dropdown-icon{
    margin-right: 10px;
}
#options{
    visibility: hidden;
    display: block;
    opacity: 0;
    position: absolute;
    width: 250px;
    height: auto;
    background: var(--main-bg-color);
    border-radius: 5px;
    top: 80px;
    font-size: 17.5px;
    padding: 10px;
    box-shadow: 0 4px 9.5px 0 rgba(0, 0, 0, 0.2),0 2px 4px 0 rgba(0, 0, 0, 0.1),inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
#options.active{
    visibility: visible;
    top: 65px; 
    opacity: 1;
}
.profile-parameters{
    font-family: BOG Headline;
}
.setting-buttons{
    display: flex;
    align-items: center;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    padding: 0 5px 0 5px;
}
.setting-buttons:hover{
    background: var(--button-hover);
}
.setting-icons{
    width: 21px;
    margin-right: 7.5px;
    background: var(--button-icon);
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
}
.setting-buttons:hover .setting-icons{
    background: var(--button-icon-hover);
}
.profile-parameters{
    color: var(--main-font-color);
    text-decoration: none;
}
main{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    height:100vh;
}
.main-section{
    margin-left:2.5%;
    margin-right: 2.5%;
    max-width: 1200px;
    width: 100%;
    font-family: BOG;
    font-weight: 500;
    display: flex;
    height: 375px;
}
.settings-content{
    max-width: 1200px;
    width: 100%;
}
.settings-content ul{
    list-style-type: none;
    padding: 0;
    display: block;
    margin: auto;
}
.settings-content ul li{
    max-width: 1100px;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    background: var(--button-icon);
    border-radius: 10px;
}
.setting-acitons{
    display: flex;
    justify-content: start;
    max-width: 1100px;
    width: 100%;
}
.content-name{
    display: inline-block;
    max-width: 200px;
    min-width: 100px;
    width: 50%;
}
.content-variable{
    display: inline-block;
    max-width: 825px;
    min-width: auto;
    width: 100%;
    font-weight: bold;
    color: var(--dark-button-icon-hover);
}
.content-action{
    display: inline-block;
    color: var(--main-blue-color);
    width: auto;
}
footer{
    position: absolute;
    left: 0;
    width: 100%;
}
.footer-section{
    position: absolute;
    left: 0;
    width: 100%;
    background: var(--main-footer-color);
    height: 100px;
}
@media(max-width: 445px){
    .setting-acitons{
        font-size: 4vw;
    }
}
@media(max-width: 430px){
    .content-action{
        position: absolute;
        left: 40%;
        width: auto;
        margin-top: 25px;
    }
    .content-name{
        max-width: 26vw;
        min-width: 26vw;
        width: 50%;
    }
    .settings-content ul li{
        padding-top: 1.5vw;
        height: 50px;
        align-items: flex-start;
    }
}
    
/* DARK MODE*/
body.dark-mode{
    background: var(--main-dark-bg-color);
    color: var(--main-dark-font-color)
}
body.dark-mode header, body.dark-mode .footer-section{
    background: var(--main-dark-color)
}
body.dark-mode .header-nav:hover{
    background: var(--main-dark-color-light);
}
body.dark-mode #options{
    box-shadow: 0 4px 9.5px 0 rgba(0, 0, 0, 0.2),0 2px 4px 0 rgba(0, 0, 0, 0.1),inset 0 0 0 1px rgba(0, 0, 0, 0.5);
    background: var(--main-dark-color);
    color: var(--main-dark-font-color);
}
body.dark-mode .setting-buttons:hover,
body.dark-mode .setting-icons{
    background: var(--dark-button-icon);
}
body.dark-mode .setting-buttons:hover .setting-icons{
    background: var(--dark-button-icon-hover);
}
body.dark-mode .profile-parameters, body.dark-mode .action-button{
    color: var(--main-dark-font-color);
}
body.dark-mode .settings-content ul li{
    background: var(--dark-button-icon);
}
body.dark-mode .content-variable{
    color: var(--main-footer-color);
    opacity: 0.75;
}